body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

p {
    background-color: none;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.main-page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 1;
}

.main-page-header nav ul {
    background: transparent;
}

.main-page-header nav ul li {
    background: transparent;
}

.logo img {
    max-height: 30px; 
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: 300;
}

.main-content {
    padding: 50px;
}

.main-content-main {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-content img {
    width: 100%;
    max-width: 100%;
    height: auto; 
}

.image-overlay {
    position: relative;
}

.image-overlay img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.image-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
}

.cta-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    z-index: 1;
}

.cta-section {
    text-align: left;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.cta-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: none;
    border: 1px solid #F13333;
    color: #F13333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
}

.active {
    color: #F13333;
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 110px;
}

.service {
    width: 25%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .service-icon {
    margin-bottom: 10px;
}

.service h2 {
    font-size: 1.8rem;
}

.service p {
    font-size: 1.2rem;
}

.service-icon {
    width: 200pt;
    height: auto;
}

.services-cta {
    text-align: center;
    margin-top: 50pt;
}

.services-cta p {
    margin-bottom: 20pt;
}

.service h2 {
    margin-bottom: 10pt;
}

.contact-form {
    text-align: center;
    margin-top: 20pt;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #F13333;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    margin-top: 5pt;
}

.form-group textarea {
    height: 120px;
    background-color: transparent;
}

.contact-form .cta-button {
    background-color: transparent;
    cursor: pointer;
}

.employee-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.employee {
    width: 30%; 
    text-align: center;
    margin: 10px;
}

.employee-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.employee-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee h3 {
    font-size: 1.5rem;
    margin: 5px 0;
}

.employee p {
    font-size: 1rem;
}

.top-employee {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 10px 20px;
    }

    header {
        padding: 10px 20px;
    }

    .main-page-header {
        padding: 10px 20px;
    }

    .main-content-main .image-overlay img {
        width: 300%; 
        max-width: none; 
        transform: translateX(-30%);
    }

    .image-overlay::before {
        background: rgba(0, 0, 0, 0.8);
    }

    .logo img {
        max-height: 20px;
    }

    nav ul {
        margin-top: 0;
        text-align: right;
    }

    nav li {
        margin-right: 10px;
        font-size: 12px;
    }

    .cta-section h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .cta-section p {
        font-size: 1rem;
    }

    .cta-section {
        position: absolute; 
        top: 20%; 
        left: 5%;
        transform: none; 
        margin-top: 20px; 
        padding: 20px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .cta-container {
        position: static;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .services-container {
        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 22px;
    }

    .services-container h2 {
        font-size: 18px;
    }

    .services-container p {
        font-size: 16px;
    }

    .services-cta {
        margin-bottom: 30px;
    }

    .service {
        width: 100%;
        margin: 10px 0; 
        padding: 0;
    }

    .employee-section {
        display: block;
    }

    .employee {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: 0;
    }

    .employee-image {
        display: flex;
        justify-content: center;
    }

    .employee {
        margin-bottom: 20px;
    }
    
    .employee h3 {
        font-size: 1.5rem;
    }
    
    .employee p {
        font-size: 1rem;
    }

    .form-group input, .form-group textarea {
        width: 90%;
    }
}

